/* .menu--main{
    background-color: orange;
    height: 100px;
}

.menu, .menu-item{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-item + .menu-item{
    margin-right: 10;
} */