body {
  background-color: #e8eddd; }

.menu--main {
  background-color: #228B22;
  height: 100px; }

.menu {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  height: 100px;
  margin-top: 0; }
  .menu .menu-item {
    margin-top: 30px; }
    .menu .menu-item a {
      color: white;
      text-decoration: none;
      font-size: 18px; }
    .menu .menu-item a:hover {
      text-decoration: underline; }

.page-title {
  text-align: center;
  color: #137dbf; }

.views-row {
  display: flex;
  justify-content: space-evenly; }
  .views-row .views-col {
    text-align: center;
    padding: 0 25px; }

.field__label {
  display: none; }

.discover__animals {
  display: flex;
  justify-content: center;
  border-top: green;
  border-bottom: green; }
  .discover__animals .animals {
    border-radius: 100%;
    border: solid 3px orange;
    width: 170px;
    height: 170px;
    margin-top: 20px;
    -webkit-transition: all 300ms ease;
    /* For Safari 3.1 to 6.0 */
    transition: all 300ms ease; }
  .discover__animals .animals:hover {
    transform: scale(1.04); }

.block-views-blockdiscover-our-zoo-block-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 50px 0;
  border-top: solid green;
  border-bottom: solid green; }
  .block-views-blockdiscover-our-zoo-block-1 h2 {
    text-align: center;
    color: white;
    background-color: orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 300px;
    height: 7vh;
    margin-top: 0px;
    padding-top: 20px; }

.views-field .field-content a {
  text-decoration: none;
  color: black; }

.main-title {
  text-align: center;
  font-size: 48px;
  color: #4cacfa; }

.field__items h2 {
  text-align: center;
  font-size: 48px;
  color: #4cacfa; }

.events-title {
  text-align: center;
  color: green; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: green; }
  footer .footer-content {
    color: white; }
  footer .views-field-field-directions .field-content {
    color: white; }
  footer .views-field-field-email .field-content {
    color: white; }
  footer .views-field-field-social-media .field-content a {
    color: white; }

.front-page_main-content {
  display: flex;
  justify-content: center; }

.services {
  padding: 75px 0; }
  .services .services-title .views-field-title {
    background-color: green;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 8px 15px;
    width: 270px; }
    .services .services-title .views-field-title a {
      color: white;
      font-size: 1.25rem; }

.views-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .views-col .views-field-field-service-image .field-content p {
    font-family: 'Open Sans, sans-serif'; }
  .views-col .views-field-field-service-image .field-content .image-style-zoo-theme-image {
    width: 300px; }

.top_paragraph {
  text-align: center;
  margin: 50px 150px;
  line-height: 3; }

.bottom_paragraph {
  text-align: center;
  margin: 50px 150px;
  line-height: 3; }

.intership {
  margin: auto 100px; }
  .intership p {
    font-family: 'Open Sans', sans-serif; }
  .intership strong {
    color: #5f841d;
    font-weight: bold; }
  .intership h2 {
    text-align: center;
    color: #137dbf; }
  .intership p:last-child {
    line-height: 2; }

.intern-images {
  display: flex;
  justify-content: center;
  margin: 100px auto; }

.price table {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5; }
  .price table th {
    color: #5f841d; }
  .price table tr:nth-child(even) {
    background-color: #dddddd; }
.price .membership__container {
  display: grid;
  justify-content: center; }
  .price .membership__container p {
    margin-bottom: 0.65rem;
    font-family: 'Open Sans', sans-serif;
    color: #423d36;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: left; }
  .price .membership__container .printer {
    font-weight: bold;
    color: #5f841d;
    cursor: pointer;
    font-size: 1rem; }
  .price .membership__container .printer:hover {
    color: #238fc2; }
.price .button__container {
  display: flex;
  justify-content: center; }
  .price .button__container .purchase_now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #70ab0a;
    color: white;
    width: 160px;
    height: 30px; }
.price .purchase_now:hover {
  background-color: #5f841d; }

/*# sourceMappingURL=styles.css.map */
