.page-title{
    text-align: center;
    color: #137dbf;
}

.views-row{
    display: flex;
    justify-content: space-evenly;

    .views-col{
        text-align: center;
        padding: 0 25px;
        // border: solid 1px black;
    }
}



.field__label{
    display: none;
}

.discover__animals{
    display: flex;
    justify-content: center;
    border-top: green;
    border-bottom: green;
    

    .animals{
        border-radius: 100%;
        border: solid 3px orange;
        width: 170px;
        height: 170px;
        margin-top: 20px;
        -webkit-transition: all 300ms ease; /* For Safari 3.1 to 6.0 */
        transition: all 300ms ease;
    }

    .animals:hover{
        transform: scale(1.04);
    }
}

.block-views-blockdiscover-our-zoo-block-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 50px 0;
    border-top: solid green;
    border-bottom: solid green;

    h2{
        text-align: center;
        color: white;
        background-color: orange;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 300px;
        height: 7vh;
        margin-top: 0px;
        padding-top: 20px;
    }
}

.views-field{
    .field-content{
        a{
            text-decoration: none;
            color: black;

        }
    }
}