// all of the footer css goes here

footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: green;

    .footer-content{
        color:white;
    }

    .views-field-field-directions{
        .field-content{
            color: white;
        }
    }

    .views-field-field-email{
        .field-content{
            color:white;
        }
    }

    .views-field-field-social-media{
        .field-content{
            a{
                color: white;
            }
        }
    }
}