.intership{

    margin: auto 100px;

    p{
        font-family:'Open Sans', sans-serif;
    }

    strong{
        color: #5f841d;
        font-weight: bold;
    }

    h2{
        text-align: center;
        color: #137dbf;
    }

    p:last-child{
        line-height: 2;
    }
}

.intern-images{

    display:flex;
    justify-content: center;
    margin: 100px auto;

}