.price{

    table{
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 1.5;

        th{
            color: #5f841d;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }

    .membership__container{

        display: grid;
        justify-content: center;

        p{

            margin-bottom:0.65rem;
            font-family:'Open Sans', sans-serif;
            color: #423d36;
            font-size:1rem;
            line-height: 1.5rem;
            font-weight:400;
            text-align: left;
    
        }
    
        .printer{
    
            font-weight: bold;
            color:#5f841d;
            cursor: pointer;
            font-size: 1rem;
    
        }
    
        .printer:hover{
    
            color: #238fc2;
            
        }

    }
    

    .button__container{

        display: flex;
        justify-content: center;

        .purchase_now{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #70ab0a;
            color: white;
            width: 160px;
            height: 30px;
        }

    }
    

    .purchase_now:hover{
        background-color: #5f841d;
    }

}