.menu--main{
    background-color: #228B22;
    height: 100px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 0;
    .menu-item{
        margin-top: 30px;

        a{
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        a:hover{
            text-decoration: underline;
        }
    }
    
}