.services{
    padding: 75px 0;

    .services-title{
        .views-field-title{
            background-color:green;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            padding: 8px 15px;
            width: 270px;
            a{
                color:white;
                font-size: 1.25rem;
            }
        }
    }
}

.views-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .views-field-field-service-image{
        .field-content{
            p{
                font-family: 'Open Sans, sans-serif';
            }
            .image-style-zoo-theme-image{
                width: 300px;
            }
        } 
    }
}


