//use as style for main title

.main-title{

    text-align: center;
    font-size: 48px;
    color: rgb(76, 172, 250);

}

.field__items{
    h2{
        text-align: center;
        font-size: 48px;
        color: rgb(76, 172, 250);
    }
}

.events-title{

    text-align: center;
    color: green;

}